[Unit]
Description=My casting bot service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/home-automation/cast_bot.py

[Install]
WantedBy=multi-user.target