[Unit]
Description=My detecting service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/home-automation/detect.py

[Install]
WantedBy=multi-user.target